public_html/app/etc/local.xml
public_html/downloader/connect.cfg
_notes/
_notes/*
public_html/var
.idea
.idea/
.idea/*
.vagrant/
.vagrant/*
*.swp
public_html/blog/wp-content/uploads
public_html/errors/local.xml
public_html/maintenance.flag*
.DS_Store
public_html/media/*
public_html/wordpress/wp-config.php
public_html/wordpress/wp-content/uploads