<?xml version="1.0"?>
<config>
    <modules>
        <AHT_Advancedmedia>
            <version>2.0.1</version>
        </AHT_Advancedmedia>
    </modules>
    <frontend>
        <routers>
            <advancedmedia>
                <use>standard</use>
                <args>
                    <module>AHT_Advancedmedia</module>
                    <frontName>advancedmedia</frontName>
                </args>
            </advancedmedia>
        </routers>
        <layout>
            <updates>
                <advancedmedia>
                    <file>advancedmedia.xml</file>
                </advancedmedia>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<advancedmedia>
				<use>admin</use>
				<args>
					<module>AHT_Advancedmedia</module>
					<frontName>advancedmedia</frontName>
				</args>
			</advancedmedia>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <advancedmedia translate="title" module="advancedmedia">
                                            <title>Product Videos</title>
                                            <sort_order>10</sort_order>
                                        </advancedmedia>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
		</acl>
		<layout>
			<updates>
				<advancedmedia>
					<file>advancedmedia.xml</file>
				</advancedmedia>
			</updates>
		</layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <advancedmedia>
                        <type>singleton</type>
                        <class>advancedmedia/observer</class>
                        <method>saveMedia</method>
                    </advancedmedia>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>   
    <global>
        <models>
            <advancedmedia>
                <class>AHT_Advancedmedia_Model</class>
                <resourceModel>advancedmedia_mysql4</resourceModel>
            </advancedmedia>
            <advancedmedia_mysql4>
                <class>AHT_Advancedmedia_Model_Mysql4</class>
                <entities>
                    <advancedmedia>
                        <table>advancedmedia</table>
                    </advancedmedia>
                </entities>
            </advancedmedia_mysql4>
        </models>
        <resources>
            <advancedmedia_setup>
                <setup>
                    <module>AHT_Advancedmedia</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </advancedmedia_setup>
            <advancedmedia_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </advancedmedia_write>
            <advancedmedia_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </advancedmedia_read>
        </resources>
        <blocks>
            <advancedmedia>
                <class>AHT_Advancedmedia_Block</class>
            </advancedmedia>
        </blocks>
        <helpers>
            <advancedmedia>
                <class>AHT_Advancedmedia_Helper</class>
            </advancedmedia>
        </helpers>
    </global>
	<default>
        <advancedmedia>
            <general>
				<enabled>0</enabled> 
				<use_lightbox>0</use_lightbox> 
				<width>265</width> 
				<height>265</height> 
            </general>
			<lightbox>
				<width>405</width> 
				<height>405</height>
				<allow_video_lightbox>0</allow_video_lightbox>	
			</lightbox>
			<thumbnail>
				<width>56</width> 
				<height>56</height>
				<video_thumbnail>default/media-mini.gif</video_thumbnail>
				<slide_of_thumbnail>0</slide_of_thumbnail>
				<visible>4</visible>	
			</thumbnail>
        </advancedmedia>
    </default>
</config>